
<%= render partial: 'books/list',locals:{ book: @book,user: @user} %>

<div class="col-md-8 offset-md-1">
  		<h2>Book detail</h2>
  		<table class="table">
  		  <tbody>
  		  <tr>
          <td><%= attachment_image_tag @user, :profile_image %></td>
          <td><%= link_to @book_detail.title, book_path %></td>
          <td><%= @book_detail.body %></td>
          <td>
              <% if @book_detail.user == current_user %>
                <%= link_to "Edit", edit_book_path %>
              <% end %>
          </td>
          <td>
              <% if @book_detail.user == current_user %>
                <%= link_to "Destroy", books_path(@book_detail), method: :delete %>
              <% end %>
          </td>
        </tr>
        </tbody>
      </table>
    </div>